@using System.Web.Mvc
@using System.Web.Mvc.Html
@using BCS.Framework.WebExtensions.Label
@model BCS.Framework.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password - Budget Creator";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div class="col-xs-12">
    <div class="form-group">
        <br /><br /><br /><br /><br />
        <div class="text-center" style="font-size: 22pt; font-weight: normal; color: #FFF">CHANGE YOUR PASSWORD</div>
        <br /><br />
    </div>
</div>
<div class="clearfix"></div>
@using (Html.BeginForm("ResetPassword", "Security", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "logon-form form-horizontal", id = "frm-login" }))
{
    @if (ViewBag.Time_mail != null)
    {
        <div class="" style="height:420px; width:850px; margin: 0 auto;background: #FFF;-moz-border-radius: 2em">
            <div class="row" style="padding: 30px;-moz-border-radius: 1em">
                <div class="col-xs-7">
                    <div class="error">
                        @Html.ValidationSummary(true)
                        @Html.AntiForgeryToken()
                    </div>
                    @Html.HiddenFor(m => m.ForgotCode)
                    <div class="form-group">
                        <div class="col-xs-12">
                            <p><b>Change your Budget Creator Account password.</b></p>
                            <span style="color: red">
                                Notes: This link will be expired after @ViewBag.Time_mail.Hours hour(s) @ViewBag.Time_mail.Minutes minute(s).
                            </span>
                        </div>
                    </div>
               
                    <div class="form-group">
                        @Html.Label("NewPassword", "New Password", new { @class = " col-xs-12 txt-right" })
                        <div class="col-xs-12">
                            @Html.PasswordFor(model => model.PassWord, new { placeholder = "New Password", @class = "form-control" })
                            <span class="error">@Html.ValidationMessageFor(model => model.PassWord)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("ConfirmPassword", "Confirm Password", new { @class = " col-xs-12 txt-right" })
                        <div class="col-xs-12">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
                            <span class="error">@Html.ValidationMessageFor(model => model.ConfirmPassword)</span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary button btnOk" id="btnForgot" value="Change" style="width:150px" />
                    </div>
                    <br />
                    <div class="form-group text-center">
                        @Html.ActionLink("Back To Sign In", "Login", "Security", new { @class = "button btnForgot" })
                    </div>
                    <br />

                </div>
                <div class="col-xs-5" style="padding-left: 30px !important; border-left: 1px solid darkolivegreen">
                    <div class="form-group">
                        <b>Already have Smart System Pro account ?</b>
                    </div>
                    <div class="form-group">
                        <span>Click Sign Up button to access Budget Creator</span>
                    </div>
                    <br /><br />
                    <div class="form-group text-center">
                        <input type="button" class="btn btn-primary button btnOk" id="btnSignUp" value="Sign Up" style="width:150px" />
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <span><b>Having trouble?</b> Feel free to contact us</span>
                    </div>
                    <br />
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary button btnOk" id="btnContactUs" value="Contact us" style="width:150px" />
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group"></div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="" style="height:220px; width:550px; margin: 0 auto;background: #FFF;-moz-border-radius: 2em">
            <div class="col-xs-12 text-center" style="padding-top:30px; padding-bottom:50px;">
                <span style="color: red; font-size:12pt;">
                    The link to reset your password is expired.
                </span>
                <br />
            </div>
            <div class="form-group text-center">
                @Html.ActionLink("Back To Sign In", "Login", "Security", new { @class = "button btnForgot" })
            </div>
        </div>
    }
}
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#PassWord").val('');
        }, 100);
    });
</script>     