@using BCS.Framework.WebExtensions.Label
@model BCS.Web.Models.ResetPasswordModel

@using (Html.BeginForm("SaveChangePassword", "User", FormMethod.Post, new { role = "form", id = "frmChangePassword" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.OldPassword)
    @Html.HiddenFor(m => m.Password)
    @Html.HiddenFor(m => m.ConfirmPassword)
    @Html.HiddenFor(m => m.CheckOldPassword)
    @Html.HiddenFor(m => m.CheckPassword)
    
    <div class="col-xs-12" style="height: auto; background-color: #fff; box-shadow: 0px 0px 5px #888888; border-radius: 3px !important;">
        <div class="col-xs-12 text-left">
            <div class="col-xs-12 text-left" style="padding-top:10px; padding-bottom:10px;">
            </div>
            <div class="form-group clearfix">
                <div class="col-xs-4" style="padding-top: 6px;">
                    @Html.LabelForRequire(model => model.OldPassword, new { @class = " col-xs-12 txt-right" })
                </div>
                    <div class="col-xs-6 olPasswordInput">
                        @Html.PasswordFor(model => model.OldPassword, new { placeholder = "Current Password", @class = "form-control", id = "txtOldPassword" })
                        <span class='error'></span>
                    </div>
            </div>
            <div class="form-group clearfix" style="padding-top: 10px;">
                <div class="col-xs-4" style="padding-top: 6px;">
                    @Html.LabelForRequire(model => model.Password, new { @class = " col-xs-12 txt-right" })
                </div>
                <div class="col-xs-6 passwordInput">
                    @Html.PasswordFor(model => model.Password, new { placeholder = "New Password", @class = "form-control", id = "txtPassword" })
                    <span class='error'></span>
                </div>
            </div>

            <div class="form-group clearfix" style="padding-top: 10px; padding-bottom: 10px;">
                <div class="col-xs-4" style="padding-top: 6px;">
                    @Html.LabelForRequire(model => model.ConfirmPassword, new { @class = " col-xs-12 txt-right" })
                </div>
                <div class="col-xs-6 confirmPassword">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control", id = "txtConfirmPassword" })
                    <span class='error'></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-right modal-footer" style="padding-top:18px;">
        <a class="btn btn-accept-no" style="width: 90px;"><i class="fa fa-remove"></i> Cancel</a>
        <a class="btn btn-primary k-grid-update" style="width: 90px;"><i class="fa fa-save"></i> Save</a>
    </div>
}
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#txtOldPassword").val('');
        }, 100);
    });
</script>